<div class="signup-view" data-role="view" data-title="Sign-up" data-layout="main" data-model="app.models.signup" data-init="app.models.signup.init" data-show="app.models.signup.show" data-hide="app.models.signup.hide">
    <div data-role="header">
        <div data-role="navbar">
            Roadmap Viewer
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#signin">Back</a>
        </div>
    </div>
    <h2 class="center-text">Create an Account</h2>
    <p class="headline">You'll need to create and account and authorize access to Aha! before roadmap data can be displayed.</p>
    <form id="signup">
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li>
                <input type="text" id="signupName" data-bind="value: DisplayName" placeholder="Name" required/>
            </li>
            <li>
                <input type="email" id="signupEmail" data-bind="value: Email" placeholder="Email"/>
            </li>
            <li>
                <input type="text" id="signupUsername" data-bind="value: Username" placeholder="Username" required/>
            </li>
            <li>
                <input type="password" id="signupPassword" data-bind="value: Password" placeholder="Password" required/>
            </li>
        </ul>
    </form>
    <div id="signupBtnWrp" class="signup-btn-wrp disabled">
        <a class="btn btn-signup" data-role="button" data-bind="click: signup">Register</a>
    </div>
</div>